<div class="pagos-container">
  <!-- Barra de navegación mejorada -->
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="/navegacion">
        <i class="bi bi-cash-stack me-2"></i> OTROS PAGOS A EMPLEADOS
      </a>
    </div>
  </nav>

<div class="row mb-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Otros Pagos a Empleados</h2>
      <form id="formOtrosPagos" name="formOtrosPagos" #f="ngForm" (ngSubmit)="AgregarValor()" novalidate>
        
        <!-- Campo de selección de Empleado -->
        <div class="form-group">
          <label for="CI" class="control-label">Empleado</label>
          <select class="form-control" size="1" [(ngModel)]="user.CI" name="CI" required>
            <option value="" disabled selected>Seleccione un empleado</option>
            <option *ngFor="let lista of Empleadoslist" [value]="lista.CI">
              {{ lista.Nombre }} {{ lista.Apellido }}
            </option>
          </select>         
        </div>

        <!-- Campo de selección de tipo de pago -->
        <div class="form-group">
          <label for="IdPagos">Seleccione el tipo de Pago</label>
          <select class="form-control" size="1" [(ngModel)]="user.IdPagos" name="IdPagos" required>
            <option value="" disabled selected>Seleccione el tipo de pago</option>
            <option *ngFor="let lista of OtrosPagosList" [value]="lista.IdPagos">{{ lista.Descripcion }}</option>
          </select>
        </div>

        <!-- Campo de selección de estado -->
        <div class="form-group">
          <label for="estado">Seleccione el Estado</label>
          <select class="form-control" [(ngModel)]="user.Estado" name="estado" required>
            <option value="" disabled selected>Seleccione el estado</option>
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
            <option value="Pendiente">Pendiente</option>
          </select>
        </div>
        <!-- Botón Agregar que se habilita cuando el formulario es válido -->
        <button type="submit" class="btn btn-primary mt-2" [disabled]="f.invalid" onclick="javascript:alert('Registro Almacenado')">
          Agregar
        </button>
        <p>
        </p>
      </form>
      <button class="btn btn-danger" (click)="openPDF()">Descargar PDF</button>
      <button class="btn btn-success" (click)="exportToExcel()" >Exportar a Excel</button>
    </div>
  </div>

  <div class="row mt-3">
    <table class="table table-bordered table-hover" id="tabla">
      <thead>
        <tr>
          <th>CI</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>ESTADO</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of TUser" >
          <td>{{item.CI }}</td>
          <td>{{item.NombreEmpleado }}</td>
          <td>{{item.DescripcionPago}}</td>
          
          <td>{{item.Estado }}</td>
          <td>
            <button class="btn btn-danger" (click)="EliminarData(item.CI, item.IdPagos)" onclick="javascript:alert('Registro Eliminado')">
              Eliminar
            </button>
            <button class="btn btn-success ms-2" [routerLink]="['/otros-pagos-empleados-edit', item.CI, item.IdPagos]">
              Actualizar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
