<div class="row mb-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Otros Pagos a Empleados</h2>
      <form id="formOtrosPagos" name="formOtrosPagos" #f="ngForm" (ngSubmit)="AgregarValor()" novalidate>
        <div class="form-group">
          <label for="CI" class="control-label">Empleado</label>
          <select class="form-control" size="1" [(ngModel)]="user.CI" name="CI" required>
            <option value="" disabled selected>Seleccione un empleado</option>
            <option *ngFor="let lista of Empleadoslist" [value]="lista.CI">
              {{ lista.Nombre }} {{ lista.Apellido }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="IdPagos" class="control-label">Pago</label>
          <input type="text" name="Pago" placeholder="DIGITE EL MONTO" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="Duracion" class="control-label">Estado</label>
          <input type="text" name="Duracion" placeholder="DIGITE EL ESTADO" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2" [disabled]="f.invalid" onclick="javascript:alert('Registro Almacenado')">
          Agregar
        </button>
      </form>
    </div>
  </div>
  <div class="row mt-3">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>CI</th>
          <th>ID PAGO</th>
          <th>ESTADO</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of TUser">
          <td>{{item.CI}}</td>
          <td>{{item.IdPagos}}</td>
          <td>{{item.Estado}}</td>
          <td>
            <button class="btn btn-danger" (click)="EliminarData(item.CI, item.IdPagos)" onclick="javascript:alert('Registro Eliminado')">
              Eliminar
            </button>
            <button class="btn btn-success ms-2" [routerLink]="['/otros-pagos/edit', user.CI, user.IdPagos]">
              Actualizar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>